body {
  margin: 0;
  font-family: 'Special Elite', cursive !important;
}

#game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  display: grid;
  grid-template-areas:
    'logo'
    'song';
  padding: 0;
  background: rgba(0, 0, 0, 0.75);
}

.game-logo {
  grid-area: logo;
  text-align: center;
}

.countdown-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.game-details-left {
  display: none;
}

.scores-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  height: 60%;
  background: rgba(0, 0, 0, 0.75);
}

.highscores {
  font-size: 1.3em;
  line-height: 1.3em;
  margin: 0;
}

.join-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.join {
  font-size: 1.8em;
  line-height: 1.8em;
  margin: 0;
  color: white;
  text-align: center;
}

.game-details-center {
  grid-area: song;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 20px;
}

.score,
.streak,
.multiplier,
.max-streak,
.current-song {
  font-size: 28px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .countdown-wrapper {
    display: none;
  }

  .scores-wrapper {
    display: none;
  }

  .join-wrapper {
    display: none;
  }

  .game-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
  }

  .game-details-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    height: auto;
    border-radius: 0;
    padding: 5px 20px;
  }

  .game-details-left > * {
    font-size: 1.2em;
    width: 50%;
  }

  .game-details-center {
    width: 90%;
    height: auto;
    padding: 15px 20px;
    border-radius: 0;
    line-height: 2.5em;
    padding: 5px 20px;
  }

  .game-details-center > h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
  }
}

.game-progress {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.75);
}

.rock-input {
  background: transparent;
}

.rock-input::-webkit-slider-runnable-track {
  background: white;
}

.red .rock-input::-webkit-slider-runnable-track {
  background: red;
}

.green .rock-input::-webkit-slider-runnable-track {
  background: green;
}

.yellow .rock-input::-webkit-slider-runnable-track {
  background: yellow;
}

#song {
  display: none;
}

.game-control-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-weight: 700;
}

.game-control-panel button {
  width: 120px;
  height: 25px;
  border-radius: 7px;
  margin-bottom: 5px;
  border: 1px solid black;
  background: #ffffff;
}

.game-control-panel button:hover {
  background: #cfcfcf;
  cursor: pointer;
}

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  /*background: #818181;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 1px solid #3b3b3b;
}

.professional-links {
  display: flex;
  justify-content: flex-end;
  width: 100px;
}

.creator {
  width: 100px;
}

.creator span {
  font-weight: 500;
}

.title {
  letter-spacing: 2.5px;
}

.header h1,
.header p {
  margin: 0;
  margin-bottom: 5px;
  padding: 0 20px;
}

.professional-links img {
  height: 30px;
  width: 30px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  transform: translateY(2.5px);
}

.game-start,
.look-around-instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px black;
  letter-spacing: 1.5px;
  z-index: 20;
}

.look-around-instructions {
  text-align: center;
}

.instructions {
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-logo {
  margin-bottom: 3em;
}

.instructions-validate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1em;
  width: 320px;
}

.close-instructions {
  font-size: 1.3em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 2em;
  background: red;
  width: 100%;
  margin: 1em;
  border-radius: 5px;
  padding: 0.5em;
}

.close-instructions h1:hover {
  cursor: pointer;
}

.close-instructions h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.close-instructions h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.instructions-pseudo {
  color: white;
  font-size: 18px;
  width: 350px;
  text-align: center;
  margin-bottom: 1.5em;
}

.instructions-input {
  padding: 0.5em;
  font-size: 1.3em;
  border: 0;
  border-radius: 5px;
  text-align: center;
  width: 320px;
}

.instructions-text {
  color: white;
  font-size: 18px;
  width: 320px;
  text-align: center;
}

.instructions-text h1 {
  font-size: 1.2em;
}

.instructions .letters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 25px;
  font-weight: 700;
  width: 320px;
  color: black;
  padding-inline-start: 0;
}

.instructions .letters li {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions .green {
  background: green;
}

.instructions .red {
  background: red;
}

.instructions .yellow {
  background: yellow;
}

.instructions .blue {
  background: blue;
}

.instructions .orange {
  background: orange;
}

/* LEAVE AT BOTTOM OF CSS FILE */
.hidden {
  display: none;
}

#opacity {
  position: absolute;
  overflow: hidden;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s;
  z-index: 100;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#opacity video {
  height: 95vh;
}
#opacity.black {
  opacity: 1;
}
